@tailwind base;
@tailwind components;
@tailwind utilities;


.react-datepicker{
    @apply text-sm bg-[#F4F6FB] shadow-md px-2 py-1 border-t border-gray-100 rounded-xl
}

.react-datepicker-popper{
    @apply z-[9999] /** materiul UI 层级问题 **/
}

.react-datepicker-wrapper {
  @apply block w-full h-8 px-3 text-base md:text-sm !important;
}

.react-datepicker__input-container {
  @apply w-full h-full flex justify-start items-center;
}

.react-datepicker__input-container > input {
  @apply  w-full h-full outline-none border-none cursor-pointer bg-transparent !important;
}

.react-datepicker__input-container > input::placeholder {
  @apply text-[12px] !important;
}

.react-datepicker-popper {
  height : max-content;
  @apply py-3
}

.react-datepicker__week {
  @apply flex justify-around
}

.react-datepicker__day-names {
  @apply flex justify-around text-gray-400 font-medium text-center text-xs
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 cursor-pointer rounded-[50%] border-none hover:text-white hover:bg-gradient-to-r hover:from-[#6F88FF] hover:to-[#4C4DE2]
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent
}

.react-datepicker__day--outside-month {
  @apply text-gray-300
}

.react-datepicker__day--in-range {
  @apply bg-blue-100 text-white
}

.react-datepicker__day--range-start {
  @apply bg-gradient-to-r from-[#6F88FF] to-[#4C4DE2] text-white hover:text-gray-200 hover:bg-white
}

.react-datepicker__day--range-end {
  @apply bg-gradient-to-r from-[#6F88FF] to-[#4C4DE2] text-white hover:text-gray-200 hover:bg-white
}
