.react-datepicker {
  font-size : 16px;
  line-height : 1.25rem;
  background-color : #F4F6FB;
  box-shadow : 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  padding : .25rem .5rem;
  border-radius : .75rem;
}

.react-datepicker-popper {
  z-index : 999;/** materiul UI 层级问题 **/
}

.react-datepicker__day-names {
  padding : .1875rem 0;
  border-radius : 20px;
  background-color : #FFFFFF;
}

.react-datepicker-wrapper {
  display : block;
  width : 100%;
  height : 2rem;
  padding : 0 .75rem;
  font-size : 1rem;
  line-height : 1.5rem;
}

.react-datepicker__input-container {
  width : 100%;
  height : 100%;
  display : flex;
  justify-content : flex-start;
  align-items : center;
}

.react-datepicker__input-container > input {
  width : 100%;
  height : 100%;
  outline : none;
  border-style : none;
  cursor : pointer;
  background-color : transparent;
}

.react-datepicker-popper {
  height : max-content;
  padding : .75rem 0;
}

.react-datepicker__week {
  display : flex;
  justify-content : space-around;
}

.react-datepicker__day-names {
  display : flex;
  justify-content : space-around;
  color : #9CA3AF ;
  font-weight : 500;
  text-align : center;
  font-size : .75rem;
  line-height : 1rem;
}

.react-datepicker__day {
  margin-bottom : .25rem;
  width : 2rem;
  height : 2rem;
  display : flex;
  align-items : center;
  justify-content : center;
  padding : .25rem 0;
  font-size : .875rem;
  line-height : 1.25rem;
  color : #374151;
  cursor : pointer;
  border-radius : 50%;
  border-style : none;
}

.react-datepicker__day:hover {
  color : #FFFFFF;
  background-image : linear-gradient(to bottom right, #6FCDFF,#2AB0F8);
}

.react-datepicker__day--disabled {
  cursor : not-allowed;
  opacity : .4;
}

.react-datepicker__day--disabled :hover {
  background-color : transparent;
}

.react-datepicker__day--outside-month {
  color : #D1D5DB;
}

.react-datepicker__day--in-range {
  background-color : #DBEAFE;
  color : #FFFFFF;
}

.react-datepicker__day--range-start {
  background-image : linear-gradient(to bottom right, #6FCDFF,#2AB0F8);
  color : #FFFFFF;
}

.react-datepicker__day--range-start:hover {
  color : #E5E7EB;
  background-color : #FFFFFF;
}

.react-datepicker__day--range-end {
  background-image : linear-gradient(to bottom right, #6FCDFF,#2AB0F8);
  color : #FFFFFF;
}

.react-datepicker__day--range-end:hover {
  color : #E5E7EB;
  background-color : #FFFFFF;
}
