.react-datepicker {
  width: 272px;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: #F4F6FB;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 26.5px 22px 20px 22px;
  border-radius: .75rem;
}

.react-datepicker-popper {
  z-index: 999;
  /** materiul UI 层级问题 **/
}

.react-datepicker__day-names {
  width: 100%;
  height: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 10px;
  --react-date-picker-font-size: 1rem;
}

.react-datepicker__input-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.react-datepicker__input-container > input {
  line-height: 100% !important;
}

.react-datepicker__input-container > input::placeholder {
  font-size: var(--react-date-picker-font-size) !important;
}

.react-datepicker__day--today {
  color: #5C68EF;
}

.react-datepicker-popper {
  height: max-content;
  padding: .75rem 0;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-around;
  color: #9CA3AF;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.react-datepicker__day--disabled {
  cursor: not-allowed;
  opacity: .4;
  font-weight: normal;
}

.react-datepicker__day--disabled :hover {
  background-color: transparent;
}

.react-datepicker__day--outside-month {
  font-weight: normal;
  color: #9A9FA5;
}

.react-datepicker__day--in-range {
  background-color: #DBEAFE;
  color: #FFFFFF;
}

.react-datepicker__day--range-start {
  background-image: linear-gradient(to bottom right, #6f88ff, #4c4de2);
  color: #FFFFFF;
}

.react-datepicker__day--range-start:hover {
  color: #E5E7EB;
  background-color: #FFFFFF;
}

.react-datepicker__day--range-end {
  background-image: linear-gradient(to bottom right, #6f88ff, #4c4de2);
  color: #FFFFFF;
}

.react-datepicker__day--range-end:hover {
  color: #E5E7EB;
  background-color: #FFFFFF;
}

.react-datepicker__input-time-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.react-datepicker-time__caption {
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.react-datepicker-time__input-container {
  width: 100%;
}

.react-datepicker-time__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-datepicker__day--selected {
  background-image: linear-gradient(to bottom right, #6f88ff, #4c4de2);
  color: #FFFFFF;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
}

.react-datepicker__month-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.react-datepicker__month-text {
  width: 3rem;
  height: 1.5rem;
  display: flex;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.react-datepicker__month-text:hover {
  background-color: #4c4de2;
  color: #FFFFFF;
  cursor: pointer;
}

.react-datepicker__month--selected {
  background-color: #4c4de2;
  color: #FFFFFF;
}

.react-datepicker__month--disabled:hover {
  cursor: not-allowed;
  background-color: transparent;
  color: #000000;
}

.react-datepicker__year-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.react-datepicker__year-text {
  width: 3rem;
  height: 1.5rem;
  display: flex;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.react-datepicker__year-text:hover {
  background-color: #4c4de2;
  color: #FFFFFF;
  cursor: pointer;
}

.react-datepicker__year-text--selected {
  background-color: #4c4de2;
  color: #FFFFFF;
}

.react-datepicker__year-text--disabled:hover {
  cursor: not-allowed;
  background-color: transparent;
  color: #000000;
}

.react-datepicker__aria-live {
  display: none;
}

.react-datepicker-wrapper input::-webkit-input-placeholder {
  color: #B7B6BB;
  font-size: 1.125rem;
}

.react-datepicker__day--highlighted-custom-red {
  position: relative;
}

.react-datepicker__day--highlighted-custom-red::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #EB6767;
}

.react-datepicker__day--highlighted-custom-orange {
  position: relative;
}

.react-datepicker__day--highlighted-custom-orange::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF9A16;
}

.react-datepicker__day--highlighted-custom-yellow {
  position: relative;
}

.react-datepicker__day--highlighted-custom-yellow::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFE042;
}

.react-datepicker__day--highlighted-custom-blue {
  position: relative;
}

.react-datepicker__day--highlighted-custom-blue::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5B8EF9;
}